@charset "UTF-8";
/* CSS Document */

@font-face {
  font-family: 'captured';
  src: url('../fonts/captured.ttf');
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #FFF;
    padding: 0;
}

h1 {
    font-family: "captured", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #008757;
    letter-spacing: 5px;
}

h2 {
    font-size: 20px;
    margin: 10px 0;
    font-weight: normal;
    color: #008757;
    text-transform: uppercase;
}

.wrap .title1, .wrap .title2, .wrap .title3 {
    font-family: "captured", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: normal;
    color: #008757;
    text-transform: uppercase;
}

.wrap .title2 {
    color: #000000;
    line-height: 0.5;
    margin-bottom: 20px;
}

.wrap .title3 {
    color: #000000;
    margin-bottom: 20px;
}

.image-row {
    margin-bottom: 20px;
}

.stepheader {
    height: 100px;
}

.stepimage {
    position: absolute;
    top: 0px;
    right: 30px;
}

#partnersgroup {
    border-top: 1px solid #000;
    margin-top: 16px;
    margin-bottom: 16px;
}

.partnersgroup-title {
    background-color: #000;
    color: #fff;
    padding: 2px 8px 0 8px;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 20px;
}

#header ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

p {
    display: inline;
    padding-top: 30px;
    padding-bottom: 30px;
}

.paragraph {
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    margin: 12px 0 12px 22px;
}

.wrap {
    background-color: #FFF;
    padding-top: 30px;
    padding-bottom: 30px;
}

a, a:hover, a:focus, a:active, a:visited {
    color: #000;
    text-decoration: underline;
    cursor: pointer;
}

a:hover, a:focus, a:active, #mainnav a:hover {
    color: #008757;
}

#mainnav {
    float: right;
    margin: 24px 50px 20px 0;
}

#mainnav a {
    color: #000;
    text-decoration: none;
}

#partners {
}

#footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0 50px 0;
    font-size: 14px;
}

#footer .container div div {
    padding-top: 16px;
}

#footer a, #footer a:focus, #footer a:active, #footer a:visited {
    color: #008757;
    cursor: pointer;
    text-decoration: none;
    text-width: bold;
}

#footer a:hover {
    color: #fff;
}

#header {
    background-color: #fff;
    height: 220px;
    border-bottom: 4px solid #000;
    margin-top: 40px;
}

#initiative-logo {
    position: relative;
    top: -20px;
    left: -20px;
    z-index: 0;
}

#initiative-tagline {
    position: relative;
    top: 180px;
    left: 40px;
    width: 200px;
    font-size: 18px;
    display: block;
    background-color: #fff;
    font-weight: normal;
    z-index: 1;
}

a.globaleaksbtn {
    font-family: "captured", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline-block;
    font-weight: normal;
    color: #ed0432;
    background-color: #000;
    font-size: 42px;
    padding: 16px 20px 10px 20px;
    margin-top: 4px;
    text-decoration: none;
}

a.globaleaksbtn:hover {
    color: #fff;
}

.question {
    font-weight: bold;
}

.answer {
    margin-bottom: 20px;
}

.sectitle {
    font-weight: bold;
}

.secparagraph {
    margin-bottom: 20px;
}

#pagetitle {
    font-family: "captured", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    color: #008757;
}

.twitter {
    font-family: "BebasNeueRegular", "Lucida Console", Monaco, monospace;
    text-transform: uppercase;
    font-size: 20px;
}

#footer div {
    line-height: 0.5;
}
